<h1>Showing articles here </h1>

<p>Title : <strong><%= @article.title %></strong></p>
<p>Description : <strong><%= @article.description%></strong></p>

<p>
    <%= link_to "Edit", edit_article_path(@article) %> 
    <%= button_to "Delete", article_path(@article), method: :delete, data: { confirm: "Are you sure"} %>
</p>
<%= link_to "Return to all Articles", articles_path %>